
h1 {
    color: green;
    text-align: center;
}

h2 {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    column-gap: 2px;
    align-items: center;
    position: relative;
    height: 4rem;
    margin: 0;

}

#questionEl {
    font-size: xx-large;
    font-weight: bolder;
    color: coral;
    background-color: rgb(37, 36, 36);
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 0;
}

#choicesEl {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 0;
}

.score {
    color: brown;
    font-size: large;
}
