
h1 {
    color: green;
    text-align: center;
}

h2 {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

#contentContainer {
    position: relative;
    height: 4rem;
    margin: 0;

}

#questionEl {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 0;
    position: relative;
    top: 10rem;
    left: 36.5rem;
}

#choicesEl {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 0;
    position: relative;
    top: 20rem;
    left: 38.5rem;
}
